<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>  <!-- partial -->
    </head>

    <header>
        <%- include('../layouts/header') %>
    </header>

    <body>  
        <main>
            <section>
                <form method = "post">
                    <fieldset>
                        <legend> Add a Book</legend>
                        
                    </fieldset>
                </form>

            </section>
        </main>
    </body>