<!DOCTYPE html>
<html lang="en">

    <html lang="en">
        <head>
            <title>Error</title>
            <link rel="stylesheet" href="/styles/base.css" />
        </head>
        <body>
            <h1>Error</h1>
        
            <div>Sorry...there seems to be something wrong with your request or the app</div>
            
        </body> 
        
    </html>