
a {
  color: inherit;
  text-decoration: none;
}

.image{
  width:150px;
}

.pic{
  width:150px;
  background:white;
  padding:3px;
}
.author{
color: darkgray;
font-size: small;
}

.title{
  color: whitesmoke;
  font-size: large;
}

body {
    background: grey;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 50px;
  }

  main {
    background: lightgrey;
    padding: 30px;
  }

  .details {
  width: 150px;
  height: 35px;
  background-color: black;
  color: white;
  
  

  }

  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }